.component__three-js-visualizer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-top: 15px;
}

.component__three-js-visualizer canvas {
  width: 100%;
  height: 450px;
  display: block;
  max-width: 100% !important;
  max-height: 450px !important;
}